.gridContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16, 24px);
    grid-template-rows: repeat(16, 24px);
    min-height: 600px;
    min-width: 600px;
}

.newgridContainer {
    display: grid;
    justify-content: center;
    min-height: 600px;
    min-width: 600px;
}

.cell {
display: flex;
border: 1px solid #a9a9a9;
}


.gridButton {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 5%;
}
