.gridContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16, 24px);
    grid-template-rows: repeat(16, 24px);
}

.cell {
display: flex;
border: 1px solid #a9a9a9;
}
